<!--
Launch controllers for simulating Kauil in Gazebo.

Authors:
  - Alejandro Domínguez Lugo    (A01378028)
  - Diego Alberto Anaya Márquez (A01379375)
  - Nancy Lesly García Jiménez  (A01378043)

Date: 2023/05/25
-->
<launch>
  <rosparam file="$(find Kauil_description)/launch/controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Kauil" args="r_wheel_joint_position_controller l_wheel_joint_position_controller joint_state_controller "/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/Kauil/joint_states"/>
  </node>
</launch>