<!--
Launch Kauil simulation in Gazebo.

Authors:
  - Alejandro Domínguez Lugo    (A01378028)
  - Diego Alberto Anaya Márquez (A01379375)
  - Nancy Lesly García Jiménez  (A01378043)

Date: 2023/05/25
-->
<launch>
  <!-- * Parameters -->
  <param name="robot_description" command="$(find xacro)/xacro $(find Kauil_description)/urdf/Kauil.xacro"/>

  <!-- * Nodes -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model Kauil"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
